# Environment variables (NEVER commit this)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
venv/
env/
.venv/

# Django
*.sqlite3
staticfiles/
media/
db.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
