{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block title %}Change Password – Red HMS{% endblock %}

{% block content %}
<div id="dashboard">
    <a href="#" class="utf_dashboard_nav_responsive">
        <i class="fa fa-reorder"></i> Dashboard Menu
    </a>
    {% include 'partials/dashboard_sidebar.html' %}

    <div class="utf_dashboard_content">
        <div id="titlebar" class="dashboard_gradient">
            <div class="row"><div class="col-md-12">
                <h2>Change Password</h2>
                <nav id="breadcrumbs"><ul>
                    <li><a href="{% url 'rooms:index' %}">Home</a></li>
                    <li><a href="{% url 'reports:dashboard' %}">Dashboard</a></li>
                    <li>Change Password</li>
                </ul></nav>
            </div></div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="utf_dashboard_list_box margin-top-0">
                    <h4><i class="sl sl-icon-key"></i> Update Password</h4>
                    <form method="POST" class="utf_add_listing_part_section">
                        {% csrf_token %}
                        <div class="utf_row_form">
                            <label>Current Password</label>
                            {{ form.old_password }}
                        </div>
                        <div class="utf_row_form">
                            <label>New Password</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="utf_row_form">
                            <label>Confirm New Password</label>
                            {{ form.new_password2 }}
                        </div>
                        {% if form.non_field_errors %}
                        <div class="notification error closeable margin-bottom-10">
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                            <a class="close" href="#"></a>
                        </div>
                        {% endif %}
                        <input type="submit" class="button margin-top-15" value="Update Password">
                        <a href="{% url 'accounts:profile' %}" class="button border" style="margin-left:10px;">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
